# Os Stuff
.DS_Store
.idea/

# Virtual Env
blogpy/__pycache__/

# Database
db.sqlite3

# Migrations
blog/migrations/

# Credentials
.env

# Static&Media files
files/
media/

# Django 
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
