{% extends '../base.html' %}

{% block description %}وبلاگ امید محمدی, وبلاگی درمورد برنامه نویسی و تکنولوژی{% endblock description %}
{% block title %}TechWithOmid | صفحه اصلی{% endblock title %}
{% block search %}
        <section id="search-section" class="cta-section py-5">
		    <div class="container text-center single-col-max-width">
			    <div class="single-form-max-width pt-3 mx-auto">
				    <form class="signup-form row g-2 g-lg-2 align-items-center" method="GET" action="{% url 'blog:search-result' %}">
	                    <div class="col-9">
	                        <input type="search" id="search" name="query" class="form-control me-md-1" placeholder="جستجو در بین مقالات">
	                    </div>
	                    <div class="col-2">
	                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
	                    </div>
	                </form><!--//signup-form-->
			    </div><!--//single-form-max-width-->
		    </div><!--//container-->
        </section>
{% endblock search %}

{% block content %}
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container single-col-max-width">

				{% for post in page_obj %}
			    <div class="item mb-5">
				    <div class="row g-3 g-xl-0">
						{% if post.thumbnail %}
							<div class="col-2 col-xl-3">
								<img class="img-fluid post-thumb " src="{{post.thumbnail.url}}" alt="image">
							</div>
						{% endif %}
					    <div class="col">
						    <h3 class="title mb-1"><a class="text-link" href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
                                                    <div class="meta mb-1"><span class="date">{{post.date|date:"Y M, d"}} | {% for category in post.category.all %} <a href="{{category.get_absolute_url}}">{{ category.name }}</a> {% endfor %}</span></div>
						    <div class="intro">{{post.content|truncatechars:256|safe}}</div>
						    <a class="text-link" href="{{post.slug}}">بیشتر &larr;</a>
					    </div><!--//col-->
				    </div><!--//row-->
			    </div><!--//item-->
				<hr>
				{% endfor %}
			    
			    

                {% if posts|length < 5 %}
                                            
                {% else %}
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center pagination-dark">
                    {% if page_obj.has_previous%}
                    <li class="page-item active mx-1">
                        <a class="page-link rounded" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled mx-1">
                      <a class="page-link rounded" href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% endif %}

                    <li class="page-item mx-1 disabled"><a class="page-link rounded" href="">{{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</a></li>

                    {% if page_obj.has_next%}
                    <li class="page-item active mx-1">
                        <a class="page-link rounded" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {%else%}
                    <li class="page-item disabled mx-1">
                      <a class="page-link rounded" href="" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
                {% endif %}
				
		    </div>
	    </section>

{% endblock content %}
